body{
    margin: 0!important;
    padding: 0!important;
}

.item-lista-riscado {
    text-decoration: line-through;
    color: red;
    font-weight: bold;
}

.item-lista{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#root {
  padding-top: 100px; /* ajuste o valor conforme necessário */
}

.fixed-items-top {
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  width: 100%;
  z-index: 2;
  background-color: rgb(0, 0, 0);
}

.table-items {
  padding-top: 250px; /* ajuste o valor para corresponder à altura do elemento fixo */
  z-index: 1;
}

.form-items {
    width: 80%;
    margin: 0 auto;
}

.form-items input {
    margin-top: 10px;
    margin-bottom: 15px;
}

.valor {
    width: 80%;
    font-weight: bold;
}

.nome-item {
    font-weight: bold;
}

/* Responsive Smartphones */
@media (max-width: 767px) {

    .nome-item {
        font-weight: bold;
        font-size: 0.9em;
    }

    .table-items {
         padding-top: 190px; /* ajuste o valor para corresponder à altura do elemento fixo */
         z-index: 1;
    }

    .badge {
        font-size: 16px!important;
    }

    i {
        font-size: 20px!important;
        font-weight: bold!important;
    }

    .valor {
        font-size: 0.9em;
        border: none;
        border-bottom: solid thin #000;
        margin-top: -8px;
        margin-left: 25px!important;
    }

    .total {
        font-size: 1.35em!important;
    }

    td {
        border: none!important;
    }

    .item-qtd {
        margin-left: 25px!important;
    }
}

.table {
    width: 100%;
    margin: 0 auto;
}

.item-qtd {
    user-select: none;
}

.buttons-acoes-header {
    display: flex!important;
    flex-direction: row;
    align-items: center;
    
}

.btn-add {
    display: flex!important;
    flex-direction: row;
    align-items: baseline;
}

.btn-add i {
    font-size: 15px!important;
}



.btn-limpar-lista{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.btn-limpar-lista i {
    font-size: 15px!important;
}